/*TOP HEADER*/
.topheader {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5625rem;
}

.logo img {
  width: 5rem;     
  height: auto;
}

.Menu-Horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.Menu-Horizontal li a{
  text-decoration: none;
  padding: 0.9375rem 1.25rem;
  color: blue;
}

.Menu-Horizontal li a:hover {
  color: red;
}

.Menu-Vertical {
  padding: 0;
  position: absolute;
  display: none;
  width: 11.25rem;
  list-style: none;
  background-color: rgb(44, 44, 173);
}

.Menu-Horizontal li:hover .Menu-Vertical {
  display: block;
}

.Menu-Vertical li a {
  display: block;
  padding: 0.625rem;
  color: black;
  text-decoration: none;
}

.Menu-Vertical li a:hover {
  background-color: #925959;
}

/*SECCION TOP SEMANAL*/

.seccion-top{
  padding: 3.75rem 1.25rem;
  background-color: rgb(44, 44, 173);
}

.div-gnral-top{
  display:flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75rem;
  margin: 0 auto;
  gap: 2.5rem;
}

.div-top-texto{
  flex: 1;
}

.div-top-texto h2{
  color: whitesmoke;
  margin-bottom: 0.9375rem;
}

.div-top-texto p{
  color: white;
  line-height: 1.6;
}

.div-top-texto button{
  margin-top: 1.25rem;
  padding: 0.625rem 1.25rem;
  background-color: #d673da;
  color: white;
  border: 0.125rem solid blueviolet;
  border-radius: 0.3125rem;
  cursor: pointer;
}

.div-top-img{
  flex: 1;
}

.div-top-img img{
  width: 100%;
  max-width: 31.25rem;
}

/*SECCION RECETAS*/

.seccion-receta{
  padding: 3.75rem 1.25rem;
  background-color: lightblue;
}

.div-gnral-receta{
  display:flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75rem;
  margin: 0 auto;
  gap: 2.5rem;
}

.div-receta-texto{
  flex: 1;
}

.div-receta-texto h2{
  color: purple;
  margin-bottom: 0.9375rem;
}

.div-receta-texto p{
  color: blue;
  line-height: 1.6;
}

.div-receta-video{
  flex: 1;
}

.div-receta-video iframe{
  width: 100%;
  max-width: 31.25rem;
}

/*FORMULARIO*/
.Seccion-formulario {
  background-color: rgb(44, 44, 173);
  padding: 2.5rem;
  border: 0.1875rem solid blue;
  border-radius: 0.625rem;
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}

.div-cont-formulario{
  background-color: lightblue;
  padding: 1.875rem;
  border: 0.125rem solid blueviolet;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 31.25rem;
}

.campo{
  background-color: #de36e4;
  padding: 0.9375rem;
  margin-bottom: 0.9375rem;
  border: 0.0625rem solid brown;
  border-radius: 0.3125rem;
}

.Formulario label{
  display: block;
  color: purple;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.Formulario input[type="text"],
.Formulario select{
  width: 100%;
  padding: 0.625rem;
  border: 0.09375rem solid blue;
  border-radius: 0.1875rem;
}

.Formulario select {
  border: 0.09375rem solid blueviolet;
  border-radius: 0.0625rem;
}

.lista-checkbox, .lista-radio{
  list-style: none;
  padding: 0.5rem;
  background-color: #de36e4;
  border: 0.0625rem solid blue;
  border-radius: 0.125rem;
}

.Formulario input[type="submit"]{
  background-color: #d673da;
  border: 0.125rem solid blueviolet;
  border-radius: 0.125rem;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
}